.footer {
  background: linear-gradient(
    90deg,
    #0f172a 0%,
    #172554 45%,
    #1e3a8a 100%
  );

  color: #e5e7eb;

  padding: 10px 60px;
  padding-top: 20px;

  backdrop-filter: blur(10px);
}

/* CONTENIDO */
.footer-bottom {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 13px;
  color: #cbd5e1;
}

/* TEXTO */
.footer-copy {
  font-size: 13px;
  color: #cbd5e1;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.footer-support {
  color: #dbeafe;
  font-size: 13px;
}

/* ICONOS */
.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons a {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: rgba(255,255,255,0.10);

  color: #ffffff;

  font-size: 13px;

  transition: all 0.3s ease;
}

.social-icons a:hover {
  background: rgba(255,255,255,0.22);

  transform: translateY(-2px) scale(1.05);
}